<launch>
    <include file="$(find limo_bringup)/launch/limo_start.launch" />

    <node name="yolo_traffic_ight" pkg="limo_deeplearning" type="yolo_tra.py" output="screen" />
    <node name="yolo_detect_lane" pkg="limo_deeplearning" type="yolo_lane.py" output="screen" />
    <node name="yolo_follow_lane" pkg="limo_deeplearning" type="yolo_tra_run.py" output="screen" />
    
</launch>
