<!--launch/camera_lane.launch-->
<!--카메라 차선 인식 단독 실행 런치 파일-->
<!--rqt_image_view /perception/debug/compressed-->

<launch>
    <node name="camera_lane_perception" pkg="Perception" type="camera_lane.py" output="screen">
        <rosparam file="$(find Perception)/Camera/config/camera_lane.yaml"/>
    </node>
    <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" args="/perception/debug/compressed"/>
</launch>