<!-- launch/e_stop.launch -->
<launch>
    <node name="lidar_clustering" pkg="perception" type="lidar_clustering.py" output="screen">
        <rosparam file="$(find perception)/Lidar/config/lidar_clustering.yaml"/>
    </node>

    <node name="e_stop" pkg="control" type="e_stop.py" output="screen">
        <rosparam file="$(find control)/config/e_stop.yaml"/>
    </node>
</launch>